footer {
    width: 100%;
    display: flex;
    justify-content: center;
    /*display: flex;
    justify-content: space-around;*/
    background-image: $everlsating_sky;
    #gmap_canvas{
        width: 150px; 
        height: 150px;
        border-radius: 10px;

    }
      ul {
          width: 75%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;
          padding: 0;
      }

}
@media screen and (max-width:700px) {
    footer {
        ul{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;}
}
}