footer {
    width: 100%;
    display: flex;
    justify-content: center;
    /*display: flex;
    justify-content: space-around;*/
    background-image: $everlsating_sky;
    #gmap_canvas{
        width:200px; 
        height:200px;
    }
      ul {
          width: 75%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;
          padding: 0;
      }

}