.index_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    
    article img {
        @include taille_img_defaultGrid ;
    }
}
@media screen and (max-width:700px) {
    .index_grid {
        grid-template-columns: 1fr 1fr;
}
}