nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20% ;
    height: 100vh;
    @include flex_column_aicenter;
    background-image: $cold_evening;
    color: $couleur_fond_fonce ;
    #link{
        position: absolute;
        top: 0;
    }
    #logo{
        text-shadow: 5px 5px 3px #0c3483;
        h1{
            margin: 20px 0 0 0;
            font-size: 52px;
        }
        .slogan{
            font-size: 24px;
        }
    }
    ul{
        
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 300px;
        margin: 150px 0 0 0;
        li {
            list-style: none;
            a{
                display: block;
                text-decoration: none;
                color: $couleur_fond_fonce;
                font-size: 20px;
            }
            a:not(:hover){
                text-shadow: 8px 8px 3px #0c3483;
            }
            a:hover{
                transform:translate(8px, 8px);
                transition:all 0.2s ease;
            }

        }
    }
}

@media screen and (max-width:700px) {
    nav {
        width: 35px;
        #logo{
            margin: 30px 0 0 0 ;
        }
        #burger {
            width:30px;
            height:2px;
            background:white;
            display:inline-block;
            position:relative;
            left: 2px;
          }
          #burger::before,#burger::after {
                content:'';
                width:30px;
                height:2px;
                background:white;
                display:inline-block;
                position:absolute;
                transform-origin: center;
                transition: all 0.3s ease;
                }
            #burger::before {
            top:-7px;
            }
            #burger::after {
            top:7px;
            }
            #burger.open {
                background:transparent; /* la barre du milieu disparait */
              }
              /* celles du haut et du bas s'inclinent pour former une croix */
              #burger.open::before {
                transform: rotate(45deg); 
                top:0;
              }
              #burger.open::after {
                transform: rotate(-45deg);
                top:0;
              }
              ul,#logo {
                    transform: scaleX(0);
                    transform-origin:center top;
                    transition:all 0.2s ease;
              }
              ul.open ,#logo.open{
                transform:scaleX(1);
              }
    }
    nav.open{
        width: 50%;
        z-index: 2;
        #link 
        {
            right: 2%;
        }
    }
}

@media screen and (max-width:500px) {

nav.open{
    width: 55%;}}
