
    nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20% ;
    height: 100vh;
    @include flex_column_aicenter;
    gap: 20%;
    background-image: $cold_evening;
    color: $couleur_fond_fonce ;
    .logo{
        text-shadow: 5px 5px 3px #0c3483;
        h1{
            
            font-size: 52px;
            margin: 10px 0 0 0;
        }
        .slogan{
            font-size: 24px;
        }
    }
    ul {
        text-shadow: 8px 8px 3px #0c3483;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 300px;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: $couleur_fond_fonce;

            }
            
        }
    }
}

@media screen and (max-width:700px) {
    nav {
        left: -25%;
    }
}