/*boutons du footer*/
.boutonDevis
{
        background-color: black;
        display: flex;
        align-items: center;
        color: white;
        /*font-weight: bold;
        font-size: 20px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;*/
      
}