.conteneurArticle{
    /*pour éviter que le footer ne soit pas collé au bas de page*/
    min-height: 100vh;

.contenuMain
    {   
        .imgArticle
        {
            max-width: 300px;
            width: 100%;
        }
    width: 75%;
    display: flex;
    gap: 40px;
    
    

    section
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: $everlsating_sky;

        h1 
        {
            margin-left: 10px;
        }
        
        .presentation
        {
            text-align: justify;
            align-self: center;
            width: 80%;
        }

        div{
            display: flex;
            justify-content: space-around;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
}

}

@media screen and (max-width: 1390px) {
    .contenuMain {
       .gammePrix{
           flex-flow: column;
           align-self: center;
           gap: 15px;

       }
    }
}

@media screen and (max-width: 990px) {
    .conteneurArticle{
    .contenuMain {
        align-items: center;
        
        .imgArticle 
        {
            max-width: 500px;
            width: 100%;
        }

        display: flex;
        flex-direction: column;

        section
        {
            max-width: 500px;
            width: 100%;
            gap: 20px;
        }
    }}
}

