.index_grid
{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    >article:hover{
    box-shadow: 10px 10px 5px 0px #6b8ccec5 ;
    transform:translate(-10px, -10px);
    }
    >article {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-height: 450px;
        max-width: 300px;
        a{
            display: block;
            width: 100%;
            height: 100%;
            max-height: 450px;
            max-width: 300px;
        }
        a>img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }
        .etiquette{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            width: 85px;
            height: 47px;
            img{
                width: 100%;
                height: 100%;
            }
            .prix{
                position: absolute;
                font-size: 12px;
                top: 17px;
                right: 10px;
            }
            
        }
        h2{
              position: absolute;
              top: 0;
              left: 5px;
              display: block;
              font-size: 16px;
              color: $couleur_fond_fonce;
            }
        .matieres {
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            text-align: center;
            justify-content: space-around;
            button {
                background-color: rgb(0, 0, 0);
                border-radius: 5px;
                width: 80px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: white;}
        }
    }
    
    
}
@media screen and (max-width:800px) {
    .index_grid {
        
        grid-template-columns: 1fr 1fr;
}
}
@media screen and (max-width:500px) {
    .index_grid {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0;
        >article{
            width: 100%;
            
        a{
            display: flex;
            width: 100%;
            height: 100%;
        }
            a>img {
                width: 100%;
            }

        }
}
}
@media screen and (max-width:350px) {
    .index_grid {
        >article{ 
            margin: 0;
            width: 50%;
            a{
        width: 100%;
    }
        a>img {
        width: 100%;
        }
        .etiquette
        {
            width: 60px;
            height: 25px;
        .prix{
            font-size: 10px;
            top: 5px;
            right: 5px;
        }}
        
    }
}}