.conteneuraccueil
{
    margin-left: 20%;
    width: 80%;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 50px;
    background-image: $february_ink;
}