.contact {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;

  input {
    height: 30px;
  }
  h2 {
    font-weight: lighter;
    font-size: 30px;
  }
}
textarea {
  background-color: rgb(221, 214, 214);
}
button{
  background-color: rgb(173, 231, 241);
  border-radius: 5px;
  width: 90px; 
}
@media screen and (max-width:500px) {
  .index_grid {
      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
  }
  }
