.contact { 
  width: 50%;
  form{
  display: flex;
  flex-direction: column;
  
  gap: 10px;

  input {
    background-image: $cloudy_knoxville;
    height: 30px;
    font-style: oblique;
  }
  h2 {
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 10px;
    /*pour mettre à la ligne sans balise p*/
    white-space: pre-line;
  }
  
  select{
    background-image: $cloudy_knoxville;
  }

    button {
      background-color: rgb(0, 0, 0);
      border-radius: 5px;
      width: 80px;
      color: $couleur_fond_fonce;
      align-self: center;
}

    button:hover{
    transform: scale(1.1) ;
    transition: all 0.2s;
}

  textarea {
  background-image: $cloudy_knoxville;
  font-style: oblique;
  height: 100px;
    
  }
}}



@media screen and (max-width: 600px) {
  .contact {
    width: 90%;
    display: flex;
    flex-flow: column;
    h2 {
      font-size: 16px;
    }
  }
}
