$couleur_fond_clair: #303030;
$couleur_fond_fonce: #ffffff;

$everlsating_sky : linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
$february_ink :  linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
$cold_evening : linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
$cloudy_knoxville : linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
